@model RentCar.Models.RentCarModelView
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
   
    
}

<!-- Modal -->
<div class="modal fade" id="SelectVehiculeestaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     <Label>Select Vehicule</Label>
          <form>
   <select class="form-control"  asp-for="id" asp-for="@Model.Vehicule" onselect="">
      
   @foreach ( Vehicule vehicule in Model.vehicules)
       {
       <option value="@vehicule.id"> @vehicule.description</option>
       } 
      
   </select>

  <div class="form-group">
    <label for="exampleFormControlInput1">Description: </label>
    <input type="text" class="form-control" asp-for="description" value="@Model.description">
     
     <label for="exampleFormControlInput1"  >Chasis number </label>
    <input type="text" class="form-control" asp-for="chasisNumber">
      
    <label for="exampleFormControlInput1" >Motor number </label>
    <input type="text" class="form-control" asp-for="motorNumber">
    
    <label for="exampleFormControlInput1"  >Plate number </label>
    <input type="text" class="form-control" asp-for="plateNumber" value="@Model.plateNumber">
     
    <label asp-for="vehicule_Type">Vehicule type</label>
    <input type="text" class="form-control" asp-for="vehicule_Type" value="@Model.vehicule_Type"> 
      <label asp-for="brand">Brand</label>
   <input type="text" class="form-control" asp-for="brand" value="@Model.brand" placeholder="@Model.brand"> 
       <label asp-for="model">Model</label>
         <input type="text" class="form-control" asp-for="model" value="@Model.model"> 

       <label asp-for="fuel_type">Fuel type</label>
       <input type="text" class="form-control" asp-for="fuel_type" value="@Model.fuel_type"> 

   
      
  </div>
  <div class="form-group">
    <label hidden="hidden" asp-for= "id"></label>
    <label asp-for = "status">Status</label>
    <select class="form-control" asp-for="status">
  <option value= "True" >In Stock</option>
  <option value= "False">Out of Stock</option>
</select>
      </div>
        
     

                  
   
  
      
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"   asp-action="SelectVehicule">Update</button>
        
      </div>
        </form>
    </div>
  </div>
</div>

</div>



