@model RentCarModelView
    

@{
}

<!-- Modal -->
<div class="modal fade" id="UpdatestaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update rent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
      </div>
      <form>
      <div class="form-group">
        <label asp-for="Vehicule">Vehicule</label>
    <select class="form-control" asp-for="id" >
   @foreach (RentAndReturn rentAndReturn in @Model.rentAndReturns)
       {
          
       <option value="@rentAndReturn.Id"> @rentAndReturn.Id</option>
       } 
      
   </select>
   <label asp-for="Employee">employee</label>
    <select class="form-control" asp-for="Employee" >
      
   @foreach ( Employee employee in @Model.employees)
       {
          
       <option value="@employee.id"> @employee.Name</option>
       } 
      
   </select>
   <label asp-for="Vehicule">Vehicule</label>
    <select class="form-control" asp-for="Vehicule" >
      
   @foreach ( Vehicule vehicule in @Model.vehicules)
       {
          
       <option value="@vehicule.id"> @vehicule.description</option>
       } 
      
   </select>

     <label asp-for="client">Client</label>
    <select class="form-control" asp-for="client" >
      
   @foreach ( var client in @Model.clients)
       {
          
       <option value="@client.id"> @client.name</option>
       } 
      
   </select>
    <label for="exampleFormControlInput1">Rent Date</label>
    <input type="datetime" placeholder= dd-mm-yyyy class="form-control" asp-for="rentDate">
    <label for="exampleFormControlInput1">Return Date</label>
    <input type="datetime" class="form-control" asp-for="returnDate">
     <label for="exampleFormControlInput1">Cost per Day </label>
    <input type="number" class="form-control" asp-for="costPerDay">
    <label for="exampleFormControlInput1">Rent Days </label>
    <input type="text" class="form-control" asp-for="rentDays">
    <label for="exampleFormControlInput1">Comment </label>
    <input type="text" class="form-control" asp-for="comment">
   
    <label asp-for = "status">Status</label>
    <select class="form-control" asp-for="status">
  <option value= "True" >In Stock</option>
  <option value= "False">Out of Stock</option>
</select>
   </div>
         <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  asp-action="Update">Update</button>
        </div>
         </form>
        </div>
        
    </div>
    
  </div>

