
@model RentCar.Models.RentCarModelView

@{
     int i=1;
    int Contador() => i++;

    string InOrOutStock(bool status)
    {
        if (status == true)
        {
            return "In Stock";
        }
        else
        {
            return "Out of Stock";
        }
    }
}

<h1>Employee</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Identification Card</th>
      <th scope="col">Working Time</th>
      <th scope="col">Comission Percentage</th>
      <th scope="col">Date of admission</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
      
        @foreach ( var item in Model.employees)
        {
        <tr>
            
      <th scope="row">@Contador()</th>
      
      <td>@item.Name</td>
       <td>@item.identificationCard</td>
        <td>@item.workingTime</td>
        <td>@item.CommissionPercentage</td>
        <td>@item.datedateOfAdmission</td>
     
        <td>@InOrOutStock(@item.status)</td>
                
      
    </tr>
    
        }
        
  </tbody>
</table>
<button  type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#AddstaticBackdrop">Add Employee</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#DeletestaticBackdrop">
  Delete Employee
</button>
<!--Button trigger Update Modal-->
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#UpdatestaticBackdrop">
  Update Employee
</button>


<partial name="_AddView"/>
<partial name="_DeleteView"/>
<partial name ="_UpdateView"/>


